@page "/counter"

<TitleComponent PageTitle="Counter"></TitleComponent>

<CascadingValue Name="CounterCount" Value="countX">
    <CascadingValue Name="TitleColor" Value="@("blue")" IsFixed="true">
        <CounterComponent></CounterComponent>
    </CascadingValue>
</CascadingValue>
<p>
    IsFixed bei CascadingValue behebt Performance-Probleme
</p>
<hr />
<DateComponent></DateComponent>
<hr />

@code {

    private int countX;
    protected override void OnInitialized()
    {
        base.OnInitialized();

        countX = 1;
    }

}

