@page "/counter"

<TitleComponent PageTitle="Counter"></TitleComponent>

<CascadingValue Name="CounterCount" Value="countX">
    <CascadingValue Name="TitleColor" Value="@("blue")" IsFixed="true">
        <CounterComponent></CounterComponent>
    </CascadingValue>
</CascadingValue>
<p>
    IsFixed bei CascadingValue behebt Performance-Probleme
</p>
<hr />
<DateComponent></DateComponent>
<hr />

<br />
<br />
<br />

<button @onclick="(()=>
                  {
                      child.Show();
                  })">Show Child Component
</button>

<br />
<hr />
<br />
<ChildComponent @ref="child"></ChildComponent>

<hr />
@code {

    private ChildComponent child;
    private int countX;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        countX = 1;
    }

}

