@page "/sales"
@inject ICustomerService CustService

@implements IDisposable
<p>
    test ctrl+f5
</p>

<hr />

Current Time:
<DateComponent></DateComponent>

<hr />


<h3> Dependency Injection Tests:</h3>
<br />
CustomerService Id: @CustService.Uid
<br />
Customer Name: @customer.Name


@code {

    private Customer customer;

    CustomerService customerService = new CustomerService();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (customer == null)
        {
            customer = CustService.GetCustomerById(1);
        }
    }

    public void Dispose()
    {

    }
}

