@page "/templatedcomponents"

<h3>Templated Components Test</h3>


<h4>RenderFragment</h4>

<FieldComponent Label="Name">
    <Data>
        Hans
    </Data>
</FieldComponent>
<FieldComponent Label="Input">
    <Data>
        <input placeholder="bla" />
    </Data>
</FieldComponent>
<FieldComponent Label="test">
    <Data>

    </Data>
</FieldComponent>

<br />
<hr />
<br />

<h4>Generic Typed Item List - GridAutoComponent</h4>

<GridAutoComponent Items="employees" ColumnsToExcludeCSV="Id"></GridAutoComponent>

<br />
<hr />
<br />


<RepeaterComponent @ref="repeater" Items="employees">
    <Header>
        <h2>HeaderTest</h2>
    </Header>

    <Row Context="employee">
        <div>
            @employee.Id
        &nbsp;
        <button class="btn" @onclick="@(()=>
                                        {
                                            EditEmployee(employee);
                                        })">
            Edit
        </button>
    </div>

    <div class="ml-3">@employee.Name</div>
    <div class="ml-5">@employee.Title</div>
    <hr />
</Row>

<Footer>
    <h2>FooterTest</h2>
</Footer>


<EditTemplate Context="currentEmployee">
    <div>
        <text>Employee Name: </text> <input class=" form-control" @bind-value="currentEmployee.Name" />
    </div>
    <div>
        <text>Emplyoee Title: </text> <input class=" form-control" @bind-value="currentEmployee.Title" />
    </div>
</EditTemplate>
</RepeaterComponent>


@code {
    //Bei Data kann mehr stehen als bei Label z.B ein inputfeld etc. , da es ein RenderFragment ist

    //Bei ColumnsToExclude kann man mit einem Komma mehrere Columns excluden ( Id, Name, ...)

    //

    private RepeaterComponent<Employee> repeater;
    private List<Employee> employees;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        employees = new List<Employee>();

        employees.Add(new Employee { Id = 1, Name = "John", Title = "Dev" });
        employees.Add(new Employee { Id = 2, Name = "Peter", Title = "Mar" });
        employees.Add(new Employee { Id = 3, Name = "Hans", Title = "HR" });
        employees.Add(new Employee { Id = 4, Name = "Flo", Title = "Dev" });
    }

    private void EditEmployee(Employee employee)
    {
        repeater.ItemToEdit = employee;
    }

    public class Employee
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string Title { get; set; }
    }


}
